body {
  background: #edc483;
}

h1 {
  display: flex;
  justify-content: center;
}




.input {
  display: flex;
  justify-content: center;

}

.fields {
  padding: 5px;
  border: 2px solid grey;
  margin: 3px;
  border-radius: 7px
}

.fields:hover{
  box-shadow: 0px 0px 5px 1px blue;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
}

#tax {

  
}