body {
  background: #edc483;
}

h1 {
  display: flex;
  justify-content: center;
}




.input {
  display: flex;
  justify-content: center;

}

.fields {
  padding: 5px;
  border: 2px solid grey;
  margin: 3px;
}

#tax {

  
}